@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .3s linear;
}
html {
    overflow-x: hidden;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    color: #000000;
    background-color: #f9f9f9;
    overflow-x: hidden;
}
button,
input,
input::placeholder {
    font-size: 16px;
    font-weight: 500;
}
a {
    text-decoration: none;
    color: #000000;
}

ul {
    list-style-type: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    z-index: 10;
}
.header.scroll {
    transition: none;
    background-color: #ffffff;
    box-shadow: 0px 1px 19px -5px rgba(0,0,0,0.75);
}
.header__logo img {
    height: 40px;
    width: auto;
}
.header__list {
    display: flex;
    align-items: center;
    list-style-type: none;
}
.header__list_item {
    padding: 8px 15px;
    margin: 0 7px;
    background: transparent;
    line-height: 1;
    cursor: pointer;
    border-radius: 16px;
    user-select: none;
    white-space: nowrap;
}
.header__list_item:hover,
.header__list_item.active {
    background: rgb(105,19,64);
    background: linear-gradient(90deg, rgba(105,19,64,1) 10%, rgba(39,1,22,1) 83%);
    color: #ffffff;
}
.header__contacts {
    display: flex;
    align-items: center;
}
.header__number {
    font-size: 20px;
    color: #000000;
}
.header__socials {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.header__social {
    height: 20px;
}
.header__social a {
    display: inline-block;
    height: 20px;
}
.header__social a img {
    height: 20px;
}
.header__social:first-child {
    margin-right: 10px;
}
.header__btn {
    color: #ffffff;
    line-height: 1;
    padding: 13px 15px;
    font-size: 15px;
    border-radius: 6px;
    background-color: #691340;
    cursor: pointer;
    border: 0;
}
.header__btn:hover {
    background-color: #571035;
}
.banner {
    position: relative;
}
.banner__slider {
    position: relative;
    top: 0;
    left: 0;
}
.banner__form {
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.slider__items {
    display: flex;
    width: fit-content;
    width: -moz-fit-content;
    overflow: hidden;
    list-style-type: none;
}
.slider__item {
    position: relative;
    min-width: 100vw;
    padding: 170px 0;
}
.slider__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.slider__img {
    z-index: -1;
}
.slider__item_text {
    z-index: 1;
}
.slider__item_text h2 {
    font-size: 45px;
}
.slider__item_text p {
    margin-top: 25px;
    line-height: 1;
    font-size: 18px;
}
.slider__points {
    position: absolute;
    width: 100vw;
    list-style-type: none;
    bottom: 0;
    margin-bottom: 50px;
    z-index: 5;
}
.slider__points .container {
    display: flex;
    align-items: center;
}
.banner__form .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* justify-content: flex-end; */
}
.banner__form_wrap {
    padding: 50px;
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0px 1px 19px -5px rgba(0,0,0,0.75);
}

.banner__form_wrap h3 {
    font-size: 24px;
    margin-bottom: 16px;
}
.banner__form_wrap p {
    min-width: 315px;
}
.banner__form_wrap input {
    border: 0;
    padding: 13px 0;
    border-bottom: 1px solid #000000;
    outline: none!important;
    display: inline-block;
    width: 100%;
    line-height: 1;
    margin: 25px 0;
}
input[type="text"]::placeholder {
    color: #d7d7d7;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
}

.banner__form_wrap button {
    background-color: #691340;
    border: 0;
    color: #ffffff;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.banner__form_wrap button:hover {
    background-color: #8d1a56;
}

.circle {
  border: 2px solid #9a8597;
  border-top-color: #691340;
  border-right-color: #691340;
  border-bottom-color: #691340;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  position: relative;
}
.circle {
  transform: rotate(45deg);
}
.slider__point {
    position: relative;
    margin-right: 10px;
    width: 4px;
    height: 4px;
    background-color: #691340;
    z-index: 5;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
}
.slider__point:not(.active):hover {
    transform: scale(3);
}
.slider__point.active {
    width: 52px;
    height: 52px;
    background-color: transparent;
}
.slider__point span {
    line-height: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    font-size: 14px;
}

.calculator {
    padding: 75px 0 90px 0;
}
.calculator__wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 43px;
    box-shadow: 0px 1px 19px -5px rgba(0,0,0,0.75);
}
.calc__form {
    padding: 55px 50px;
    width: calc(100% - 400px);
}
.calc__group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.calc__results {
    padding: 50px;
    background-color: #691340;
    color: #ffffff;
    width: 400px;
}
.calc__summ {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 12px;
    line-height: 1;
}
.calc__summ_title {
    font-size: 14px;
    line-height: 1;
    padding-bottom: 20px;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 20px;
    font-weight: 400;
}
.calc__params {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.params__item_amount {
    font-size: 22px;
    font-weight: 600;
}
.calc__button {
    width: 300px;
    height: 50px;
    background-color: #ffffff;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}
.calc__button:hover {
    background-color: #e4e4e4;
}
.calc__item {
    width: calc((100% - 60px)/3);
}
.calc__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}
.calc__input input {
    width: calc(100% - 50px);
    height: 100%;
    border: 1px solid #d1d5e0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: none;
    padding: 0 20px;
}
.calc__input_controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    border: 1px solid #d1d5e0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 0;
}
.calc__input_control {
    cursor: pointer;
    user-select: none;
    opacity: 0.8;
}
.calc__input_control:hover {
    opacity: 1;
}
.calc__input_control.bottom {
    transform: rotate(180deg);
}
.calc__slider_title,
.calc__item_title {
    color: #737373;
    font-size: 14px;
    margin-bottom: 14px;
    font-weight: 500;
}
.calc__group:last-child {
    margin-top: 50px;
}
.calc__slider {
    width: calc(100% - 180px);
}
.calc__area {
    width: 160px;
}
.ui-widget-content .ui-state-default {
    width: 90px;
    height: 40px;
    color: #ffffff;
    line-height: 39px;
    text-align: center;
    cursor: pointer;
    background-color: #691340;
}
.ui-slider-horizontal .ui-slider-handle {
    top: 0;
    margin-left: 0;
    transform: translate(-40%, -40%);
}
.ui-slider-horizontal .ui-slider-range-min {
    background-color: #a3708b;
    border-radius: 0;
}
.ui-widget.ui-widget-content {
    background-color: #d1d5e0;
    border: 0;
    border-radius: 0;
    height: 4px;
}

.top__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 30px 0 45px 0;
    list-style-type: none;
}
.top__item {
    position: relative;
    margin: 0 5px;
}
.top__item_text {
    font-weight: 600;
    padding: 5px 10px;
    line-height: 1;
    background-color: transparent;
    cursor: pointer;
    border-radius: 16px;
}
.top__item_text:hover,
.top__item_text.active {
    background-color: #691340;
    color: #ffffff;
}
.top__item_new {
    position: absolute;
    top: -10px;
    right: 10px;
    font-size: 9px;
    line-height: 1;
    text-transform: uppercase;
    color: rgba(105, 19, 64, 255);
    font-weight: 800;
}
.top__images { position: relative; }
.top__images_item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    opacity: 0.5;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.48783263305322133) 35%, rgba(0,0,0,0.17690826330532217) 100%);
}
.top__images_item-min::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    opacity: 0.5;
    background-color: #000000;
}
.top__images_big {
    position: relative;
}
.top__info {
    position: absolute;
    bottom: 0;
    width: 100vw;
    padding: 45px 0;
    color: #ffffff;
    z-index: 1;
}
.top__info .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top__images_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}
.top__info_left h3 {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 14px;
}
.top__info_right {
    display: flex;
    align-items: center;
}
.top__prices {
    padding-right: 20px;
}
.top__price_old {
    display: block;
    font-size: 14px;
    text-align: right;
}
.top__price_new {
    font-size: 24px;
    font-weight: 600;
}
.top__btn {
    width: 200px;
    height: 50px;
    background-color: #691340;
    color: #ffffff;
    line-height: 1;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}
.top__images_item {
    position: relative;
    min-width: 100vw;
    max-height: 550px;
    height: 500px;
    overflow: hidden;
}
.top__images_item img {
    width: 100%;
    height: inherit;
    min-height: 100%;
}
.top__images_list-min {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin-top: -1px;
    z-index: 1;
}
.top__images_item-min {
    position: relative;
    height: 112px;
    width: calc(100% / 6);
    cursor: pointer;
    overflow: hidden;
}
.top__images_item-min.active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    margin: 8px;
    display: block;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    border: 1px solid #ffffff;
    background-color: transparent;
}
.top__images_item-min img {
    width: 102%;
    height: auto;
    min-height: 100%;
    min-width: 100%;
}

.example {
    padding: 85px 0;
}
.example__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 55px 0 80px 0;
}
.example__images {
    min-width: calc(100% - 415px);
    overflow: hidden;
    z-index: 0;
}
.example__image {
    min-width: 100%;
}
.example__image img {
    width: 100%;
    height: auto;
    min-height: 100%;
}
.example__images_wrap {
    display: flex;
    align-items: center;
    width: 100%;
}
.example__info {
    position: relative;
    min-width: 500px;
    overflow: hidden;
    box-shadow: 0px 1px 19px -5px rgba(0,0,0,0.75);
    border-left: 2px solid #691340;
    margin-right: -85px;
    z-index: 1;
    background-color: #ffffff;
}
.example__list {
    width: 500px;
    display: flex;
    align-items: center;
}
.example__item {
    min-width: 100%;
    padding: 50px;
}
.feedback__controls,
.example__controls {
    position: absolute;
    bottom: 50px;
    right: 50px;
    display: flex;
}
.feedback__control,
.example__control {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d1d5e0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 0;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    cursor: pointer;
}
.feedback__control.left,
.example__control.left {
    border-left: 1px solid #d1d5e0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.feedback__control:hover,
.example__control:hover {
    background-color: #eee;
}
.example__title {
    font-size: 24px;
    line-height: 1;
}
.exmple__params {
    padding: 35px 0 55px 0;
}
.example__param {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.param__name {
    color: #a0a0a0;
}
.example__price {
    flex-direction: column;
}
.example__price span {
    display: block;
    font-size: 14px;
    color: #a0a0a0;
}
.example__price b {
    font-size: 24px;
}
.example__action {
    padding: 50px;
    background: url('../img/action.png');
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.example__action_info h3 {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 1;
}
.example__btn {
    width: 280px;
    height: 50px;
    line-height: 1;
    background: #ffffff;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.feedback__head h2 {
    font-size: 36px;
    line-height: 1;
}
.feedback__controls {
    position: initial;
}
.feedback__head {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 42px;
}
.feedback__list {
    display: flex;
    height: 100%;
    min-height: 1px;
}
.feedback__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10px;
    box-shadow: 0px 1px 9px -5px rgba(0,0,0,0.75);
    padding: 40px;
    background-color: #ffffff;
    width: calc((100% - 60px) / 3);
    height: 435px;
}
.feedback__author {
    display: flex;
    align-items: center;
}
.feedback__avatar {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
.feedback__text {
    font-weight: 400;
    margin-bottom: 30px;
}
.feeback__author_name {
    font-weight: 600;
}
.feedback__other span {
    font-size: 14px;
    color: #c3a1b3;
    padding-left: 10px;
}


.info {
    padding: 90px 0;
}
.info__tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 50px 0;
}
.info__tab {
    padding: 5px 10px;
    margin: 0 5px;
    font-weight: 600;
    line-height: 1;
    border-radius: 13px;
    cursor: pointer;
}
.info__tab:hover,
.info__tab.active {
    color: #ffffff;
    background-color: #571035;
}
.info__list {
    box-shadow: 0px 1px 9px -5px rgba(0,0,0,0.75);
    list-style-type: none;
}
.info__item {
    padding: 0 50px;
    border-top: 1px solid #d1d5e0;
    border-bottom: 1px solid #d1d5e0;
    overflow: hidden;
    border-left: 3px solid transparent;
}
.info__item.active {
    height: 100%;
    border-left: 3px solid #571035;
}
.info__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}
.info__text {
    margin-bottom: 45px;
}
.info__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #d4d8e2;
    cursor: pointer;
    border-radius: 50%;
}
.info__icon::before {
    content: "";
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    border: 2px solid #d4d8e2;
    border-top: 0;
    border-left: 0;
    margin-top: -5px;
}
.info__item.active .info__icon::before,
.info__item.active .info__icon {
    border-color: #571035;
}
.info__item.active .info__icon::before {
    transform: rotate(-135deg);
    margin-top: 5px;
}
.tips__title {
    padding-bottom: 36px;
    font-size: 36px;
}
.tips p {
    font-weight: 400;
}
.tips__title2 {
    padding: 24px 0;
}

.map {
    position: relative;
    margin-top: 85px;
    padding: 60px;
}
.map img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.map__contacts {
    width: 400px;
    padding: 50px;
    background-color: #ffffff;
    box-shadow: 0px 1px 19px -5px rgba(0,0,0,0.75);
}
.map__contacts h3 {
    line-height: 1;
    font-size: 32px;
    margin-bottom: 38px;
}
.map__contacts p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
.map__btn {
    width: 100%;
    height: 50px;
    background-color: #571035;
    color: #ffffff;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

footer {
    background-color: #1c1c1d;
    padding-top: 50px;
    color: #ffffff;
}
footer a {
    color: rgba(117, 117, 122, 255);
}
.footer__top {
    display: flex;
    justify-content: space-between;
}
.footer__left {
    width: 170px;
}
.footer__left p {
    color: rgba(117, 117, 122, 255);
    margin-top: 32px;
}
.footer__middle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
}
.footer__list {
    margin-bottom: 30px;
}
.footer__list_title {
    margin-bottom: 15px;
}
.footer__item {
    margin-bottom: 5px;
}
.footer__number {
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    color: #ffffff;
}
.footer__btn {
    width: 210px;
    height: 50px;
    color: #ffffff;
    background-color: #691340;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px 0 30px 0;
}
.foooter__soc_title {
    color: rgba(117, 117, 122, 255);
    margin-bottom: 10px;
}
.footer__soc_links a {
    margin-right: 15px;
}
.footer__bottom_list {
    border-top: 1px solid rgba(117, 117, 122, 255);
    padding: 30px 0;
    margin-top: 40px;
}
.footer__bottom_list .container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__bottom_item {
    padding: 0 10px;
}

.section__title {
    font-size: 36px;
    line-height: 1;
    text-align: center;
}
.section__desc {
    padding-top: 24px;
    text-align: center;
}
.container {
    max-width: 1240px;
    margin: 0 auto;
    width: 100%;
}
.mobile__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(100vw);
    background-color: #ffffff;
    padding: 35px 50px;
    z-index: 11;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.mobile__menu.active {
    transform: translateX(0vw); 
}
.mobile__menu .header__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mobile__menu .header__list_item {
    margin-bottom: 20px;
}
.mobile__menu .header__contacts {
    flex-direction: column;
    align-items: center;
}
.mobile__menu .header__number,
.mobile__menu .header__socials {
    margin-bottom: 25px;
}
.mobile__menu .header__btn {
    width: 280px;
}
.menu__close {
    position: absolute;
    right: 25px;
    top: 30px;
    font-size: 50px;
    line-height: 20px;
    cursor: pointer;
    font-weight: 300;
    user-select: none;
}
.menu__close:hover {
    color: #a3708b;
}
.header__menu-btn {
    display: none;
    width: 25px;
    height: 17px;
    cursor: pointer;
}
.header__menu-btn img {
    width: 100%;
    height: 100%;
}

@media (max-width: 1280px) {
    .header__menu-btn {
        display: block;
    }
    .header .header__contacts,
    .header .header__list {
        display: none;
    }
    .container {
        max-width: 960px;
    }
    .banner {
        flex-direction: column;
    }
    .slider__item_text h2 {
        font-size: 24px;
    }
    .slider__item_text p {
        font-size: 16px;
        width: 300px;
        line-height: 1.3;
    }
    .banner__form_wrap {
        width: 350px;
        padding: 30px;
    }
    .banner__form_wrap h3 {
        font-size: 18px;
    }
    .banner__form_wrap p {
        width: 100%;
        min-width: auto;
        font-size: 14px;
    }
    .banner__form_wrap input {
        margin: 20px 0;
        padding: 10px 0;
    }
    .calc__item_title {
        height: 35px;
    }
    .top__info .container {
        flex-direction: column;
        align-items: flex-start;
    }
    .top__info_left {
        margin-bottom: 20px;
    }
    .top__info_right {
        flex-direction: row-reverse;
    }
    .top__prices {
        padding-left: 20px;
        padding-right: 0;
    }
    .top__price_old {
        text-align: left;
    }
    .top__item_text {
        text-align: center;
    }
    .feedback__item {
        height: auto;
    }
    .map img {
        top: 0;
        left: auto;
        right: 0;
        height: 100%;
    }
    .footer__middle {
        padding: 0 10px;
    }
    .middle__list {
        padding: 0 10px;
    }
}
.param__val {
    text-align: right;
}
.select {
    display: none;
}
.feedback__points {
    display: none;
}

@media (max-width: 992px) {
    .header {
        padding: 20px;
    }
    .container {
        max-width: 100%;
        width: 100%;
        padding: 0 20px;
        margin: 0;
    }
    .slider__item,
    .banner__slider {
        height: 630px;
    }
    .slider__item {
        padding-top: 90px;
    }
    .slider__points {
        margin-bottom: 350px;
    }
    .slider__point.active {
        width: 10px;
        height: 10px;
        border: 2px solid #691340;
    }
    .slider__point span,
    .circle {
        display: none;
    }
    .banner__form {
        bottom: 30px;
        top: inherit;
        left: 20px;
        height: fit-content;
        width: fit-content;
        height: -moz-fit-content;
        width: -moz-fit-content;
    }
    .banner__form .container {
        padding: 0;
    }
    .section__title {
        font-size: 22px;
    }
    .calculator {
        padding: 40px 0 50px 0;
    }
    .calculator__wrap {
        flex-direction: column;
        margin-top: 25px;
    }
    .calc__results,
    .calc__form {
        padding: 30px;
        width: 100%;
    }
    .calc__button {
        width: 100%;
    }
    .params__item_amount,
    .calc__summ_title,
    .calc__summ {
        text-align: center;
    }
    .top__item {
        display: none;
    }
    .select {
        display: block;
        width: 100%;
    }
    .top__list {
        padding: 20px 20px 30px 20px;
    }
    .nice-select .list {
        width: 100%;
    }
    .current {
        font-weight: 600;
    }
    .top__images_item-min {
        min-width: 150px;
    }
    .example {
        padding: 50px 0;
    }
    .section__desc {
        padding: 25px 50px;
    }
    .example__wrap {
        flex-direction: column;
    }
    .example__info {
        margin-right: 0;
        margin-bottom: -50px;
        width: 100%;
        max-width: 500px;
        min-width: auto;
    }
    .example__title {
        font-size: 18px;
    }
    .example__item {
        padding: 30px;
    }
    .exmple__params {
        padding: 20px 0 30px 0;
        font-size: 14px;
    }
    .example__price span {
        font-size: 12px;
    }
    .example__price b {
        font-size: 18px;
    }
    .example__controls {
        right: 30px;
        bottom: 30px;
    }
    .example__images {
        min-width: calc(100% + 40px);
        width: calc(100% + 40px);
    }
    .example__action {
        flex-direction: column;
        margin: 0 20px;
        width: calc(100% - 40px);
        margin-top: 40px;
        padding: 30px 30px 40px 30px;
    }
    .example__action_info h3 {
        font-size: 18px;
        margin-bottom: 16px;
        text-align: center;
    }
    .example__action_info p {
        font-size: 14px;
        text-align: center;
    }
    .example__btn {
        width: 100%;
        margin-top: 22px;
    }
    .feedback__controls {
        display: none;
    }
    .feedback__points {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    .feedback__point {
        margin: 0 6px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        border: 2px solid #571035;
        background-color: #571035;
        cursor: pointer;
    }
    .feedback__point:not(.active):hover {
        transform: scale(3);
    }
    .feedback__point.active {
        width: 10px;
        height: 10px;
        background-color: transparent;
    }
    .feedback__item {
        min-width: calc(100% - 40px);
        margin: 0 20px;
        padding: 30px;
    }
    .feedback__head h2 {
        font-size: 22px;
        text-align: center;
        width: 100%;    
    }
    .info {
        padding: 50px 0 90px 0;
    }
    .info__item {
        padding: 0 30px;
    }
    .info__icon {
        min-width: 25px;
        min-height: 25px;
        max-width: 25px;
        max-height: 25px;
    }
    .tips__title {
        font-size: 22px;
        padding-bottom: 23px;
    }
    .tips__title2 {
        padding: 27px 0 24px 0;
    }
    .map {
        margin-top: 50px;
        padding: 30px 0 340px;
    }
    .map__contacts {
        width: 100%;
        padding: 30px;
    }
    .map__contacts h3 {
        font-size: 22px;
        margin-bottom: 23px;
    }
    .map__contacts p {
        font-size: 16px;
        margin-bottom: 16px;
    } 
    .map__btn {
        margin-top: 14px;
    }
    .footer__top {
        flex-direction: column;
        align-items: center;
    }
    .footer__left {
        margin-bottom: 30px;
    }
    .footer__right {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__btn {
        width: 100%;
    }
    .footer__bottom_list .container {
        flex-wrap: wrap;
    }
}
.list-arrow {
    display: none;
}
@media (max-width: 768px) {
    .footer__middle {
        flex-direction: column;
        align-items: center;
    }
    .middle__list {
        width: 100%;
        text-align: center;
    }
    .footer__list {
        overflow: hidden;
        height: 20px;
        margin-bottom: 20px;
    }
    .footer__list_title {
        cursor: pointer;
    }
    .list-arrow {
        position: relative;
        top: -2px;
        display: inline-block;
        width: 6px;
        height: 6px;
        border-top: 2px solid #ffffff;
        border-right: 2px solid #ffffff;
        transform: rotate(135deg);
        margin-left: 5px;
    }
    .footer__list.active .list-arrow {
        top: 0px;
        transform: rotate(-45deg);
    }
    .example__list {
        width: 100%;
    }
    .top__images_item img {
        object-fit: cover;
        min-height: 100%;
    }
    .top__images_item {
        height: 500px;
    }
    .top__price_old {
        font-size: 13px;
    }
    .top__price_new {
        font-size: 20px;
    }
    .top__btn {
        width: 160px;
    }
    .banner__form {
        width: calc(100% - 40px);
    }
    .banner__form .container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .calc__group {
        flex-direction: column-reverse;
    }
    .calc__area,
    .calc__slider {
        width: 100%;
    }
    .calc__slider {
        margin: 20px 0 33px 0;
    }
    .ui-slider-horizontal .ui-slider-handle {
        width: 40px;
        height: 21px;
        font-size: 0;
    }
    .calc__group:last-child {
        margin-top: 0;
    }
    .calc__item {
        width: 100%;
    }
    .calc__item:not(:first-child) {
        margin-bottom: 24px;
    }
    .calc__item_title {
        font-size: 14px;
        height: 14px;
        margin-bottom: 10px;
    }
}